@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .loginContainer {
    width: 100%;
    height: 100vh;
    vertical-align: middle;
    display: table;

    &__title {
      width: 100%;
      text-align: center;
      margin-bottom: 5%;
    }

    &__form {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
